*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
    .head_img{
    width: 131px;
    height: 40px;
    margin-left: 50px;
  
    }
    .menu {
    display: flex ;
    padding: 20px;
    color: #40494D;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    }
    
    .btn {
    border-radius: 56px;
    border: 2px solid #2c2f24;
    transition: 0.3s;
    color: #283337;
    text-align: right;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px; /* 150% */
    padding: 12px 24px;
    }