*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .head {
    padding: 38px 0 33px 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 8px 0px rgba(40, 51, 55, 0.08);
    }
    
  
    }
    .menu {
    display: flex ;
    padding: 20px;
    color: #40494D;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    }
    
    .btn {
    border-radius: 56px;
    border: 2px solid #2c2f24;
    transition: 0.3s;
    color: #283337;
    text-align: right;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px; /* 150% */
    padding: 12px 24px;
    }